-
  var menuItems = [
    { text: "Home", url: "./" },
    { text: "Episodes", url: "./episodes.pug" },
    { text: "About", url: "./about.pug" },
    { text: "Contact", url: "./contacts.pug" }
  ]

.header
  .header__logo
    a.header__logo__link(href='/')
      img.header__logo__img(src='/public/images/header_logo.svg' alt='Logo')

  .header__menu
    ul.header__menu__list
      each item in menuItems
        li.header__menu__item
          a.header__menu__item__link(href=item.url)= item.text