.episodes {
  border-radius: 32px;

  @media #{$mobile} {
    margin-bottom: 30px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;

    @media #{$desktop} {
      margin-bottom: 20px;
    }

    @media #{$mobile} {
      row-gap: 20px;
      flex-direction: column;
    }

    &__title {
      font-size: 64px;
      color: white;

      @media #{$desktop} {
        font-size: 42px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__wrapper {
      display: flex;
      justify-content: space-around;
      background-color: black;
      margin-bottom: 60px;
      padding-block: 40px;
      border-radius: 32px;
      min-height: 545px;
      padding-right: 120px;

      @media #{$desktop} {
        margin-bottom: 30px;
        min-height: 0;
        padding-block: 20px;
      }

      @media #{$tablet} {
        flex-direction: column;
        row-gap: 20px;
        padding-right: 0;
      }

      &__img {
        display: block;
        width: 440px;

        @media #{$desktop} {
          height: 100%;
          object-fit: cover;
        }

        @media #{$mobile} {
          width: 100%;
        }
      }

      &__media {
        min-width: 430px;
        padding-left: 40px;

        @media #{$desktop} {
          padding-left: 20px;
        }

        @media #{$mobile} {
          min-width: 0;
          padding-right: 20px;
        }
      }

      &__layout {
        margin-left: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 55px;
        border-radius: 6px;

        @media #{$desktop} {
          justify-content: flex-start;
          margin-left: 20px;
        }

        @media #{$tablet} {
          padding-right: 20px;
        }

        &__label {
          display: inline-block;
          padding-inline: 15px;
          text-align: center;
          line-height: 27px;
          height: 27px;
          background-color: #191919;
          border-radius: 6px;

          @media #{$desktop} {
            margin-bottom: 15px;
          }
        }

        &__name {
          font-size: 18px;
          color: white;
          border-radius: 6px;
        }

        &__episode {
          font-size: 17px;
          color: #118da8;

          @media #{$desktop} {
            margin-bottom: 15px;
          }
        }

        &__title {
          font-size: 64px;
          color: white;
          line-height: 70px;

          @media #{$desktop} {
            font-size: 36px;
            line-height: 1;
            margin-bottom: 15px;
          }
        }

        &__text {
          font-size: 22px;
          color: rgba(255, 255, 255, 0.7);
          line-height: 33px;
          text-align: justify;

          @media #{$desktop} {
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 15px;
          }
        }

        &__button {
          background: #118da8;
          border-radius: 6px;
          color: white;
          height: 51px;
          width: 208px;
          border-radius: 6px;
          font-size: 18px;

          &:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
}
