.header {
  background-color: $blackBg;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @media #{$desktop} {
    margin-bottom: 0;
  }

  @media #{$mobile} {
    flex-direction: column;
    height: auto;
    padding-top: 30px;
  }

  &__logo {
    &__link {
      color: white;
      display: block;
      height: 100%;
    }

    &__img {
      width: 160px;
      height: 35px;
    }
  }

  &__menu {
    padding-block: 45px;
    padding-right: 70px;

    @media #{$desktop} {
      padding-right: 20px;
    }

    @media #{$mobile} {
      padding-block: 30px;
      padding-right: 0;
    }

    &__list {
      display: flex;
      list-style: none;

      @media #{$mobile} {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__item {
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }

      &__link {
        text-decoration: none;
        color: white;

        @media #{$mobile} {
          font-size: 20px;
        }

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
