.podcast {
  display: flex;
  justify-content: space-between;

  @media #{$desktop} {
    justify-content: flex-start;
  }

  @media #{$mobile} {
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__media {
    min-width: 650px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 95px;

    @media #{$desktop} {
      margin-bottom: 40px;
      min-width: 350px;
      width: 350px
    }

    @media #{$mobile} {
      margin-bottom: 20px;
      margin-inline: auto;
      max-width: 470px;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media #{$desktop} {
      justify-content: flex-start;
    }

    &__text {
      display: flex;
      padding-right: 135px;
      padding-left: 60px;
      margin-bottom: 90px;
      margin-top: 100px;
      line-height: 88px;
      letter-spacing: 3px;

      @media #{$desktop} {
        justify-content: flex-start;
        line-height: 45px;
        margin-bottom: 40px;
        margin-top: 0;
        padding-right: 20px;
        padding-left: 20px;
      }

      @media #{$mobile} {
        padding-left: 0;
      }

      &__title {
        color: white;
        font-size: 70px;

        @media #{$desktop} {
          font-size: 42px;
        }
      }

      &__title2 {
        color: white;
        font-size: 75px;

        @media #{$desktop} {
          font-size: 36px;
        }
      }

      &__title3 {
        color: white;
        font-size: 80px;
        margin-left: 25px;

        @media #{$desktop} {
          font-size: 36px;
          margin-left: 10px;
        }
      }
    }

    &__subtitle {
      color: white;
      font-size: 15px;
      padding-left: 80px;
      margin-bottom: 20px;

      @media #{$desktop} {
        padding-left: 20px;
      }

      @media #{$mobile} {
        padding-left: 0;
      }
    }

    &__list {
      display: flex;
      list-style: none;
      padding-left: 80px;
      gap: 20px;

      @media #{$desktop} {
        padding-left: 20px;
      }

      @media #{$mobile} {
        padding-left: 0;
      }
    }
  }
}
